.jumbo {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%), url("../optimized-img/jumbo-img.jpeg") no-repeat bottom center;
  width: 100%;
  background-size: cover;
  height: 600px; }
  .jumbo__info-box {
    color: #fff;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; }
  .jumbo__title {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }
  .jumbo__text {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2.5rem; }
  .jumbo__btn {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    border: 1px #fff solid;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    .jumbo__btn a {
      color: #fff; }
    .jumbo__btn:hover {
      border: 1px #002ea1 solid;
      background-color: #002ea1; }

.choose-us {
  padding: 5rem 0; }
  .choose-us__big-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding-bottom: 1rem; }
    .choose-us__big-title hr {
      background-color: #002ea1;
      width: 10%;
      height: 4px;
      margin: 1.5rem auto 0; }
  .choose-us__main-text {
    color: #252525;
    display: block;
    text-align: center;
    font-weight: 300;
    width: 60%;
    margin: 0 auto;
    line-height: 1.9rem;
    margin-bottom: 2.5rem; }
  .choose-us__info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; }
  .choose-us__info-box {
    text-align: center;
    padding: 1.5rem 0; }
  .choose-us__icon {
    text-align: center;
    margin-bottom: 2rem; }
    .choose-us__icon .fas {
      font-size: 4rem;
      color: #002ea1; }
  .choose-us__title {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem; }
    .choose-us__title hr {
      background-color: #002ea1;
      width: 10%;
      height: 4px;
      margin: 1.5rem auto 0; }
  .choose-us__text {
    font-size: 0.9rem;
    line-height: 1.5rem; }

.vehicle-serviced__grid-container {
  display: flex;
  justify-content: flex-end;
  background-color: #ebebeb; }

.vehicle-serviced__container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 600px;
  align-items: center;
  width: 100%; }

.vehicle-serviced__info-box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  grid-column: 1/5;
  margin-left: 3rem; }

.vehicle-serviced__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding-bottom: 1rem; }
  .vehicle-serviced__title hr {
    background-color: #002ea1;
    width: 10%;
    height: 4px;
    margin: 1.5rem auto 0; }

.vehicle-serviced__text {
  color: #252525;
  display: block;
  text-align: center;
  font-weight: 300;
  width: 60%;
  margin: 0 auto;
  line-height: 1.9rem;
  margin-bottom: 2.5rem; }

.vehicle-serviced__make-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem; }

.vehicle-serviced__make-box {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; }

.vehicle-serviced__make {
  font-size: 0.9rem;
  font-weight: 600; }
  .vehicle-serviced__make .fas {
    margin-right: 0.5rem;
    color: #002ea1; }

.vehicle-serviced__make:not(:last-child) {
  margin-bottom: 1rem; }

.vehicle-serviced__btn {
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border: 1px grey solid;
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.3s ease-in-out; }
  .vehicle-serviced__btn a {
    color: #002ea1;
    transition: all 0.3s ease-in-out; }
  .vehicle-serviced__btn:hover {
    border: 1px #002ea1 solid;
    background-color: #002ea1; }
    .vehicle-serviced__btn:hover a {
      color: #fff; }

.vehicle-serviced__img {
  height: 600px;
  width: 100%;
  grid-column: 5/9; }
  .vehicle-serviced__img picture {
    height: 600px; }
    .vehicle-serviced__img picture img {
      width: inherit;
      height: inherit; }

.brand {
  padding: 4rem 0; }
  .brand__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
  .brand__individual-brand img {
    height: inherit;
    object-fit: cover;
    object-position: center; }

@media only screen and (max-width: 1440px) {
  .choose-us__main-text {
    width: 90%; }
  .choose-us__info-container {
    gap: 20px; }
  .choose-us__info-box .choose-us__icon .fas,
  .choose-us__info-box .choose-us__icon .far {
    font-size: 3rem; }
  .choose-us__title {
    font-size: 1rem;
    font-weight: 600; }
  .vehicle-serviced__img {
    background-position: top center; }
  .vehicle-serviced__info-box {
    margin-left: 0; }
  .vehicle-serviced__title {
    font-size: 2.2rem; }
  .vehicle-serviced__text {
    width: 100%; } }

@media only screen and (max-width: 1024px) {
  .jumbo {
    height: 500px; }
    .jumbo__info-box {
      height: 500px; }
    .jumbo__title {
      text-align: center;
      font-size: 2.5rem; }
    .jumbo__text {
      font-size: 1.1rem; }
  .choose-us__main-text {
    width: 90%; }
  .choose-us__info-container {
    gap: 20px; }
  .choose-us__info-box .choose-us__icon .fas,
  .choose-us__info-box .choose-us__icon .far {
    font-size: 3rem; }
  .choose-us__title {
    font-size: 1rem;
    font-weight: 600; }
  .vehicle-serviced__img {
    background-position: top center; }
  .vehicle-serviced__info-box {
    margin-left: 0; }
  .vehicle-serviced__title {
    font-size: 2.2rem; }
  .vehicle-serviced__text {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .jumbo {
    height: 500px; }
    .jumbo__info-box {
      height: 500px; }
    .jumbo__title {
      text-align: center;
      font-size: 2.5rem; }
    .jumbo__text {
      font-size: 1.1rem; }
  .choose-us__big-title {
    font-size: 2.2rem; }
  .choose-us__main-text {
    width: 100%; }
  .choose-us__info-container {
    display: flex;
    flex-wrap: wrap; }
  .choose-us__info-box .choose-us__icon .fas,
  .choose-us__info-box .choose-us__icon .far {
    font-size: 3rem; }
  .choose-us__title {
    font-size: 1rem;
    font-weight: 600; }
  .vehicle-serviced__grid-container {
    flex-wrap: wrap; }
  .vehicle-serviced__container {
    display: flex;
    flex-wrap: wrap; }
  .vehicle-serviced__img {
    order: 1;
    background-position: top left; }
  .vehicle-serviced__info-box {
    order: 2;
    margin-left: 0; }
  .vehicle-serviced__title {
    font-size: 2.2rem; }
  .vehicle-serviced__text {
    width: 100%; }
  .brand__container {
    justify-content: center;
    flex-wrap: wrap; }
  .brand__individual-brand:not(:last-child) {
    margin-bottom: 1.5rem; } }

@media only screen and (max-width: 600px) {
  .jumbo {
    height: 500px; }
    .jumbo__info-box {
      height: 500px; }
    .jumbo__title {
      text-align: center;
      font-size: 2.5rem; }
    .jumbo__text {
      font-size: 1.1rem; }
  .choose-us__big-title {
    font-size: 2rem; }
  .choose-us__main-text {
    width: 100%; }
  .choose-us__info-container {
    display: flex;
    flex-wrap: wrap; }
  .choose-us__info-box .choose-us__icon .fas,
  .choose-us__info-box .choose-us__icon .far {
    font-size: 3rem; }
  .choose-us__title {
    font-size: 1rem;
    font-weight: 600; }
  .vehicle-serviced__grid-container {
    flex-wrap: wrap; }
  .vehicle-serviced__container {
    display: flex;
    flex-wrap: wrap; }
  .vehicle-serviced__img {
    order: 1;
    background-position: top left; }
  .vehicle-serviced__info-box {
    order: 2;
    margin-left: 0; }
  .vehicle-serviced__title {
    font-size: 2rem; }
  .vehicle-serviced__text {
    width: 100%; }
  .brand__container {
    justify-content: center;
    flex-wrap: wrap; }
  .brand__individual-brand:not(:last-child) {
    margin-bottom: 1.5rem; } }

@media only screen and (max-width: 480px) {
  .vehicle-serviced__grid-container {
    flex-wrap: wrap; }
  .vehicle-serviced__container {
    display: flex;
    flex-wrap: wrap; }
  .vehicle-serviced__img {
    order: 1; }
  .vehicle-serviced__info-box {
    order: 2;
    margin-left: 0; }
  .vehicle-serviced__title {
    font-size: 2rem; }
  .vehicle-serviced__text {
    width: 100%; }
  .vehicle-serviced__make-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .brand__container {
    justify-content: center;
    flex-wrap: wrap; }
  .brand__individual-brand:not(:last-child) {
    margin-bottom: 1.5rem; } }

.about {
  margin-bottom: 3rem; }
  .about__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #ebebeb;
    padding: 2rem 0;
    margin-bottom: 3rem; }
  .about__top-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 4rem; }
  .about__bottom-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 2rem; }
  .about__text {
    font-size: 0.9rem;
    line-height: 1.5rem; }
  .about__text:not(:last-child) {
    margin-bottom: 2rem; }
  .about__img picture img {
    width: 100%;
    object-fit: cover;
    object-position: center center; }

@media only screen and (max-width: 768px) {
  .about__top-section {
    display: flex;
    flex-direction: column; }
  .about__bottom-section {
    display: flex;
    flex-direction: column; }
  .about__img {
    order: 1; }
  .about__info {
    order: 2; } }

@media only screen and (max-width: 600px) {
  .about__top-section {
    display: flex;
    flex-direction: column; }
  .about__bottom-section {
    display: flex;
    flex-direction: column; }
  .about__img {
    order: 1; }
  .about__info {
    order: 2; } }

.services {
  margin-bottom: 3rem; }
  .services__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #ebebeb;
    padding: 2rem 0;
    margin-bottom: 3rem; }
  .services__top-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 4rem; }
  .services__bottom-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 2rem; }
  .services__text {
    font-size: 0.9rem;
    line-height: 1.5rem; }
  .services__text--bold {
    font-weight: 700; }
  .services__text:not(:last-child) {
    margin-bottom: 2rem; }
  .services__img picture img {
    width: 100%;
    object-fit: cover;
    object-position: top center; }

@media only screen and (max-width: 768px) {
  .services__top-section {
    display: flex;
    flex-direction: column; }
  .services__bottom-section {
    display: flex;
    flex-direction: column; }
  .services__img {
    order: 1; }
  .services__info {
    order: 2; } }

@media only screen and (max-width: 600px) {
  .services__top-section {
    display: flex;
    flex-direction: column; }
  .services__bottom-section {
    display: flex;
    flex-direction: column; }
  .services__img {
    order: 1; }
    .services__img picture img {
      background-position: center left; }
  .services__info {
    order: 2; } }

.review {
  margin-bottom: 3rem; }
  .review__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #ebebeb;
    padding: 2rem 0;
    margin-bottom: 3rem; }
  .review__top-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 4rem; }
  .review__bottom-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 2rem; }
  .review__text {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.5rem; }
  .review__name {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem; }
  .review__text:not(:last-child) {
    margin-bottom: 2rem; }
  .review__img {
    text-align: center; }
    .review__img picture img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center; }

@media only screen and (max-width: 768px) {
  .review__top-section {
    display: flex;
    flex-direction: column; }
  .review__bottom-section {
    display: flex;
    flex-direction: column; } }

@media only screen and (max-width: 600px) {
  .review__top-section {
    display: flex;
    flex-direction: column; }
  .review__bottom-section {
    display: flex;
    flex-direction: column; } }

.contact .embeded-map {
  margin-bottom: 3rem; }
  .contact .embeded-map iframe {
    width: 100%;
    height: 500px; }

.contact .contact-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem; }
  .contact .contact-detail__boxes .map {
    color: #002ea1;
    font-size: 0.9rem;
    margin-left: 5.5rem;
    line-height: 1.8rem; }
  .contact .contact-detail__title {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1.5rem; }
  .contact .contact-detail__info {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .contact .contact-detail__info .fas,
    .contact .contact-detail__info .far {
      color: #002ea1;
      font-size: 2.5rem;
      margin-right: 1.5rem; }
  .contact .contact-detail__text {
    font-size: 0.9rem;
    line-height: 1.8rem; }

.contact .form {
  margin-bottom: 3rem; }
  .contact .form__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; }
  .contact .form__left-field input {
    width: 100%;
    padding: 1rem;
    color: #252525;
    width: 100%;
    border: 1px #ebebeb solid;
    outline: none;
    transition: all 0.3s ease-in-out; }
    .contact .form__left-field input:hover {
      border: 1px grey solid; }
  .contact .form__left-field input:not(:last-child) {
    margin-bottom: 1.5rem; }
  .contact .form__left-field ::placeholder {
    font-size: 0.9rem; }
  .contact .form__left-field .form__note {
    margin-top: 3rem; }
    .contact .form__left-field .form__note .form__notice {
      font-size: 0.9rem;
      line-height: 1.8rem; }
      .contact .form__left-field .form__note .form__notice span {
        font-weight: 700; }
    .contact .form__left-field .form__note .form__notice:not(:last-child) {
      margin-bottom: 1rem; }
  .contact .form__right-field {
    display: flex;
    flex-direction: column; }
    .contact .form__right-field textarea {
      width: 100%;
      height: 63%;
      padding: 1rem;
      border: 1px #ebebeb solid;
      outline: none;
      margin-bottom: 3rem;
      resize: none;
      transition: all 0.3s ease-in-out; }
      .contact .form__right-field textarea:hover {
        border: 1px grey solid; }
    .contact .form__right-field ::placeholder {
      font-size: 0.9rem; }
    .contact .form__right-field .form__btn {
      font-size: 0.9rem;
      background-color: #002ea1;
      color: #fff;
      width: 30%;
      padding: 1.2rem 0.8rem;
      cursor: pointer;
      outline: none;
      border: 0; }

@media only screen and (max-width: 1024px) {
  .contact .contact-detail {
    flex-wrap: wrap;
    margin-bottom: 5rem; } }

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .contact .contact-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; }
  .contact .form__right-field .form__btn {
    width: 40%; } }

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .contact .embeded-map {
    margin-bottom: 5rem; }
  .contact .contact-detail {
    flex-wrap: wrap;
    margin-bottom: 5rem; }
    .contact .contact-detail__boxes:last-child {
      margin-top: 2rem; }
  .contact .form__wrapper {
    grid-template-columns: 1fr; } }

@media only screen and (min-width: 480px) and (max-width: 600px) {
  .contact .embeded-map {
    margin-bottom: 5rem; }
  .contact .contact-detail {
    flex-wrap: wrap;
    margin-bottom: 5rem; }
    .contact .contact-detail__boxes:last-child {
      margin-top: 2rem; }
  .contact .form__wrapper {
    grid-template-columns: 1fr; } }

@media only screen and (max-width: 480px) {
  .contact .embeded-map {
    margin-bottom: 5rem; }
  .contact .contact-detail {
    flex-wrap: wrap;
    margin-bottom: 5rem; }
    .contact .contact-detail__boxes:not(:last-child) {
      margin-bottom: 2rem; }
  .contact .form__wrapper {
    grid-template-columns: 1fr; }
  .contact .form__right-field .form__btn {
    width: 50%; } }

* {
  color: #252525;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

html,
body {
  overflow-x: hidden;
  position: relative; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  max-width: 1400px;
  width: 60%;
  margin: 0 auto; }

.header__top-nav {
  background: #ebebeb; }

.header__top-nav-wrapper {
  display: flex;
  justify-content: flex-start;
  text-align: center; }

.header__phone-number {
  padding: 1rem;
  border-right: 1px #dbdbdb solid;
  border-left: 1px #dbdbdb solid; }
  .header__phone-number .fa-phone-alt {
    color: #464646;
    font-size: 0.9rem;
    margin-right: 0.5rem; }
  .header__phone-number a {
    font-size: 0.9rem;
    font-weight: 300;
    color: #464646;
    transition: all 0.3s ease-in-out; }
    .header__phone-number a:hover {
      border-bottom: 1px grey solid; }

.header__social-media {
  padding: 1rem;
  border-right: 1px #dbdbdb solid; }
  .header__social-media a {
    color: #464646;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out; }
    .header__social-media a .fa-facebook-f {
      color: #464646;
      margin-right: 0.5rem; }
    .header__social-media a span {
      transition: all 0.3s ease-in-out; }
      .header__social-media a span:hover {
        border-bottom: 1px grey solid; }

.header__mail {
  padding: 1rem;
  border-right: 1px #dbdbdb solid; }
  .header__mail .fa-envelope {
    color: #464646;
    font-size: 0.9rem;
    margin-right: 0.5rem; }
  .header__mail a {
    color: #464646;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out; }
    .header__mail a:hover {
      border-bottom: 1px grey solid; }

.header__bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  overflow-x: hidden; }

.header__logo {
  width: 50%; }
  .header__logo a {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #001750; }

.header__hamburger {
  display: none; }

.header__nav-links {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__link {
  color: #464646;
  transition: all 0.3s ease-in-out;
  font-weight: 400; }
  .header__link:hover {
    color: #002ea1; }

.mobile-menu {
  display: none; }

.footer {
  color: #fff;
  background-color: #535353;
  padding: 4rem 0; }
  .footer__top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid #fff; }
  .footer__boxes {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer__boxes .fas,
    .footer__boxes .far {
      color: #c5c5c5;
      font-size: 2.5rem;
      margin-right: 1.5rem; }
    .footer__boxes div {
      color: #fff;
      font-size: 1.3rem;
      font-weight: 300;
      line-height: 1.8rem; }
  .footer__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem; }
  .footer__box {
    width: 25%; }
    .footer__box .footer__title {
      display: block;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 1.5rem; }
      .footer__box .footer__title hr {
        color: #fff;
        width: 10%;
        margin: 1rem 0 0 0;
        padding: 0; }
    .footer__box .footer__details {
      color: #fff;
      display: flex;
      font-size: 0.9rem;
      justify-content: flex-start;
      align-items: center;
      line-height: 1.8rem; }
      .footer__box .footer__details span {
        margin-left: 4.5rem; }
      .footer__box .footer__details .fab {
        color: #c5c5c5;
        transition: all 0.3s ease-in-out; }
      .footer__box .footer__details--time {
        display: flex;
        flex-direction: column; }
        .footer__box .footer__details--time li {
          display: flex;
          justify-content: space-between;
          color: #fff;
          font-size: 0.9rem;
          line-height: 1.8rem; }
          .footer__box .footer__details--time li span {
            color: #fff; }
      .footer__box .footer__details a {
        color: #fff; }
      .footer__box .footer__details span {
        color: #fff; }
      .footer__box .footer__details .fas,
      .footer__box .footer__details .far {
        color: #c5c5c5;
        margin-right: 1.5rem; }
      .footer__box .footer__details div {
        color: #fff; }

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0; }
  .copy__text {
    color: #464646;
    font-size: 0.9rem; }

@media only screen and (max-width: 1440px) {
  .container {
    width: 80%; }
  .header__top-nav-wrapper {
    display: flex;
    flex-wrap: wrap; }
  .header__logo {
    width: 45%; }
  .header__hamburger {
    display: none; } }

@media only screen and (max-width: 1024px) {
  .container {
    width: 90%; }
  .header__top-nav-wrapper {
    display: flex;
    flex-wrap: wrap; }
  .header__logo {
    width: 47%; }
  .header__logo a {
    width: 47%;
    font-size: 1.8rem; }
  .header__hamburger {
    display: none; } }

@media only screen and (max-width: 890px) {
  .footer__top-wrapper {
    display: grid;
    grid-template-columns: 1fr; }
  .footer__boxes {
    justify-content: flex-start; }
    .footer__boxes .fas,
    .footer__boxes .far {
      margin-right: 2rem; }
    .footer__boxes .fa-award {
      margin-right: 2.5rem; }
    .footer__boxes div {
      font-size: 1.1rem; }
  .footer__boxes:not(:last-child) {
    margin-bottom: 2rem; }
  .footer__bottom-wrapper {
    display: grid;
    grid-template-columns: 1fr; }
  .footer__box {
    width: 100%; }
    .footer__box .footer__details--social-link a {
      padding: 1.5rem; }
  .footer__box:not(:last-child) {
    margin-bottom: 2.5rem; }
  .footer__details--time {
    width: 70%; } }

@media only screen and (max-width: 768px) {
  .container {
    width: 90%; }
  .header {
    position: relative; }
    .header__top-nav-wrapper {
      display: flex;
      flex-wrap: wrap; }
    .header__logo {
      width: 70%; }
      .header__logo a {
        font-size: 1.6rem; }
    .header__nav-links {
      display: none; }
    .header__hamburger {
      text-align: right;
      display: block;
      cursor: pointer; }
      .header__hamburger .fas {
        font-size: 2rem;
        color: grey;
        transition: all 0.3s ease-in-out; }
        .header__hamburger .fas:hover {
          color: #001750; }
  .mobile-menu {
    display: block;
    background-color: #fff;
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    transform: translate3d(100%, 0, 0); }
    .mobile-menu--active {
      transform: translate3d(0, 0, 0); }
    .mobile-menu__link {
      display: block;
      transition: all 0.3s ease-in-out;
      padding: 1rem; }
      .mobile-menu__link:hover {
        color: #001750; }
    .mobile-menu__link:not(:last-child) {
      border-bottom: 1px #ebebeb solid; }
  .footer__boxes {
    align-items: flex-start; }
    .footer__boxes .fas,
    .footer__boxes .far {
      margin-right: 2rem; }
    .footer__boxes .fa-award {
      margin-right: 2.5rem; }
    .footer__boxes div {
      font-size: 1.1rem; }
  .footer__bottom-wrapper {
    flex-wrap: wrap; }
  .footer__box {
    width: 100%; }
    .footer__box .footer__details--social-link a {
      padding: 1.5rem; }
  .footer__box:not(:last-child) {
    margin-bottom: 2.5rem; }
  .footer__details--time {
    width: 70%; } }

@media only screen and (max-width: 600px) {
  .container {
    width: 90%; }
  .header {
    position: relative; }
    .header__top-nav-wrapper {
      display: flex;
      flex-wrap: wrap; }
    .header__logo {
      width: 70%; }
      .header__logo a {
        font-size: 1.6rem; }
    .header__nav-links {
      display: none; }
    .header__hamburger {
      text-align: right;
      display: block;
      cursor: pointer; }
      .header__hamburger .fas {
        font-size: 2rem;
        color: grey;
        transition: all 0.3s ease-in-out; }
        .header__hamburger .fas:hover {
          color: #001750; }
  .mobile-menu {
    display: block;
    background-color: #fff;
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    transform: translate3d(100%, 0, 0); }
    .mobile-menu--active {
      transform: translate3d(0, 0, 0); }
    .mobile-menu__link {
      display: block;
      transition: all 0.3s ease-in-out;
      padding: 1rem; }
      .mobile-menu__link:hover {
        color: #001750; }
    .mobile-menu__link:not(:last-child) {
      border-bottom: 1px #ebebeb solid; }
  .footer__top-wrapper {
    display: grid;
    grid-template-columns: 1fr; }
  .footer__boxes {
    justify-content: flex-start; }
    .footer__boxes .fas,
    .footer__boxes .far {
      margin-right: 2rem; }
    .footer__boxes .fa-award {
      margin-right: 2.5rem; }
    .footer__boxes div {
      font-size: 1.1rem; }
  .footer__boxes:not(:last-child) {
    margin-bottom: 2rem; }
  .footer__bottom-wrapper {
    display: grid;
    grid-template-columns: 1fr; }
  .footer__box {
    width: 100%; }
    .footer__box .footer__details--social-link a {
      padding: 1.5rem; }
  .footer__box:not(:last-child) {
    margin-bottom: 2.5rem; }
  .footer__details--time {
    width: 70%; } }

@media only screen and (max-width: 480px) {
  .header__phone-number {
    border-right: none;
    border-left: none; }
  .header__social-media {
    border-right: none; }
  .header__mail {
    border-right: none; }
  .header__logo {
    width: 80%; }
    .header__logo a {
      font-size: 1.6rem; } }
