@import "../sass/variables";

// Services ---------/

.services {
  margin-bottom: 3rem;

  &__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: $light-grey;
    padding: 2rem 0;
    margin-bottom: 3rem;
  }

  &__top-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 4rem;
  }

  &__bottom-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  &__text--bold {
    font-weight: 700;
  }

  &__text:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__img {
    img {
      width: 100%;
    }
  }
}

//*************************************** Media Queries **********************************//

// Ipad, Tablet
@media only screen and (max-width: 768px) {
  // Services
  .services {
    &__top-section {
      display: flex;
      flex-direction: column;
    }

    &__bottom-section {
      display: flex;
      flex-direction: column;
    }

    &__img {
      order: 1;
    }

    &__info {
      order: 2;
    }
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  // Services
  .services {
    &__top-section {
      display: flex;
      flex-direction: column;
    }

    &__bottom-section {
      display: flex;
      flex-direction: column;
    }

    &__img {
      order: 1;
    }

    &__info {
      order: 2;
    }
  }
}
